@using HardaGroup.Utility;
@using HardaGroup.Models;

@{
    Layout = null;
    var user = (M_User)ViewData["user"];
    var roles = (List<M_Role>)ViewData["roles"];
}

<div class="modal-body">

    <h3 class="customer-h3 text-center">
        详 细
    </h3>
    <hr />

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4 col-md-3 control-label">
                <label class="customer-content-sm">用户名称：</label>
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="input-large-full" id="tbUserName" placeholder="用户名称" value="@user.UserName" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-md-3 text-right">
                <label class="customer-content-sm">所属角色：</label>
            </div>
            <div class="col-sm-8 col-md-8">
                @{
                    foreach (var role in roles)
                    {
                        var currentRoleIds = user.Roles.Select(r => r.Id).ToList(); ;
                        var roleName = SystemRole.Dic_Roles.ContainsKey(role.Name) ? SystemRole.Dic_Roles[role.Name] : role.Name;

                        if (currentRoleIds.Contains(role.Id))
                        {
                            <input name="ckRole" id='@role.Id' checked="checked" class="rolecheck" value=@role.Id type="checkbox" />


                        }
                        else
                        {
                            <input name="ckRole" id='@role.Id' class="rolecheck" value=@role.Id type="checkbox" />

                        }
                        <label for='@role.Id' style="font-weight:bold">@roleName</label>
                        <br />
                    }


                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-4 col-md-3 control-label">
                <label class="customer-content-sm">邮 箱：</label>
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="input-large-full" id="tbEmail" placeholder="邮 箱" value="@user.Email" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-md-3 control-label">
                <label class="customer-content-sm">联系电话：</label>
            </div>
            <div class="col-sm-8 col-md-8">
                <input class="input-large-full" id="tbPhoneNumber" placeholder="联系电话" value="@user.PhoneNumber" />
            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info"
            data-dismiss="modal">
        退 出
    </button>
</div>

