@using HardaGroup.Utility;
@using HardaGroup.Models;
@{
    Layout = null;
    var news = (M_NewsSearch)ViewData["NewsSearch"];
    var newsScopes = (List<M_NewsScopeSearch>)ViewData["NewsScope"];
}
<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center curd-title">修 改</h3>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">资讯模块：</label>
            </div>
            <div class="col-md-10">
                <select class="select-large" id="selNewsScopeId">
                    <option value="">请选择资讯模块</option>
                    @foreach (var scope in newsScopes)
                    {
                        if (news.NewsScopeId == scope.Id)
                        {
                            <option selected="selected" value="@scope.Id">@scope.TypeName</option>

                        }
                        else
                        {
                            <option value="@scope.Id">@scope.TypeName</option>

                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">唯一标识：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbNewsUrlId" style="width:40%" placeholder="只能是字母、数字或 - 组成" value="@news.NewsURLId" />
                <input class="btn btn-default" id="btnGenerateNewUrlId" type="button" style="width:9%" value="自动生成" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">标题：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbTitle" placeholder="标题" value="@news.Title"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">二级标题：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbSubTitle" placeholder="二级标题" value="@news.SubTitle" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">内容简介：</label>
            </div>
            <div class="col-md-10">
                <textarea class="textarea-large" id="taDescription">@news.Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">资讯图标：</label>
            </div>
            <div class="col-md-10">
                <div id="uploadThumbnailsImage">选择图片</div>
                <span class="customer-content-sm" id="status"></span>
            </div>
            <div class="col-lg-4 col-md-6 col-md-offset-2" style="margin-top:10px;">
                @if (news.Image != null && !string.IsNullOrEmpty(news.Image.VirtualPath))
                {
                    <img class="img-responsive" id="showUploadImage" src="@news.Image.VirtualPath" alt="无图标" />

                }
                else
                {
                    <img class="img-responsive" id="showUploadImage" src="~/images/small_model.jpg" alt="无图标" />

                }

            </div>

        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">发布时间：</label>
            </div>
            <div class="col-md-3">
                <!--yyyy-mm-dd hh:ii:ss 中hh表示24小时制-->
                <div class="input-group date form_datetime" data-date=""
                     data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="tbPubTime">
                    <!--yyyy-MM-dd HH:mm:ss 中 HH表示24小时制-->
                    <input class="form-control" size="16" type="text" value="@news.Pubtime.ToString("yyyy-MM-dd HH:mm:ss")" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="tbPubTime" name="PubTime" value="@news.Pubtime.ToString("yyyy-MM-dd HH:mm:ss")" /><br />
            </div>


        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">首页滚动：</label>
            </div>
            <div class="col-md-10" style="padding-top:5px;">
                <input type="radio" value="true" name="IsScroll" /><label>是</label>
                <input type="radio" value="false" checked="checked" name="IsScroll" style="margin-left:50px;" /><label>否</label>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">热点新闻：</label>
            </div>
            <div class="col-md-10" style="padding-top:5px;">
                <input type="radio" value="true" name="IsHot" /><label>是</label>
                <input type="radio" value="false" checked="checked" name="IsHot" style="margin-left:50px;" /><label>否</label>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">内 容：</label>
            </div>
            <div class="col-md-10">
                <textarea id="taContent" name="content">@news.Content</textarea>

            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-info"
            data-dismiss="modal">
        退 出
    </button>
    <button type="button" class="btn btn-lg btn-danger" onclick="SaveEdit()">
        保 存
    </button>
</div>

<link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
<script src="~/Scripts/webuploader/webuploader.js"></script>
<script src="~/Scripts/webuploader/customer-image-webuploader.js"></script>


<script type="text/javascript">
    var editor = KindEditor.create('textarea[name="content"]',kindeditorConfig);


    $(function () {
        InitDatetimepicker(".form_datetime");
        InitWebUploader();
        InitGenerateNewsUrlIdEvent();

        //如果是链接，则选中链接选项
        var isScroll = '@news.IsScroll';
        var isHot = '@news.IsHot';
        if (isScroll.toLowerCase() == "true") {
            $("input[name='IsScroll']").attr('checked', 'true');
        }
        if (isHot.toLowerCase() == "true") {
            $("input[name='IsHot']").attr('checked', 'true');
        }
    });

    var uploader;
    function InitWebUploader() {

        //初始化图片上传插件
        uploader = $("#uploadThumbnailsImage").InitImageWebUploader({
            url: "/Press/UploadThumbnailsImage",
            size: 1,
            multiple: false,
            autoupload: false,
            thumbid: "#showUploadImage",
            singleupload: true
        }, function () {
            //图片上传成功后关闭对话框，刷新表格
            CloseEditScreen();
            //刷新表格
            RefreshTable();
            $("body").hideLoading();
        });

    }

    function UploadImage(newsGlobalizationId,culture) {

        uploader.options.formData.newsGlobalizationId = newsGlobalizationId;
        uploader.options.formData.culture = culture;

        uploader.upload();
    }

    //修改或新增保存
    function SaveEdit() {

        $("body").showLoading();
        var saveObj = ConstructSaveObj();
        var jsonParam = JSON.stringify(saveObj);
        $.ajax({
            type: "POST",
            url: "/Press/SaveEdit",
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {

                if (message.Success) {

                    var newsGlobalization = JSON.parse(message.Content);
                    //上传图片
                    var newsGlobalizationId = newsGlobalization.Id;
                    var culture = newsGlobalization.Culture;
                    UploadImage(newsGlobalizationId, culture);

                } else {
                    $("body").hideLoading();

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }
            }
        });
    }


    //构造保存对象
    function ConstructSaveObj() {

        var newsGlobalization = {
            NewsId:'@news.Id',
            Title: $("#tbTitle").val(),
            SubTitle: $("#tbSubTitle").val(),
            Description: $("#taDescription").val(),
            Content: editor.html(),
            Culture: '@news.Culture'
        };
        var arrNewsGlobalization = new Array();
        arrNewsGlobalization.push(newsGlobalization);

        var obj = {
            Id: '@news.Id',
            NewsUrlId: $("#tbNewsUrlId").val(),
            IsScroll: $("input[name='IsScroll']:checked").val(),
            IsHot: $("input[name='IsHot']:checked").val(),
            PubTime: $("#tbPubTime").val(),
            NewsScopeId: $("#selNewsScopeId").val(),
            NewsGlobalizations: arrNewsGlobalization

        };

        return obj;
    }

    function InitGenerateNewsUrlIdEvent() {
        $("#btnGenerateNewUrlId").click(function () {

            $.ajax({
                type: "POST",
                url: "/Press/GenerateNewURLId",
                dataType: "json",
                async: false,   //同步
                success: function (message) {

                    if (message.Success) {

                        $("#tbNewsUrlId").val(message.ReturnStrId);

                    } else {
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv' //样式类名
                          , closeBtn: 0
                        });
                        return;
                    }
                }
            });
        });
    }


</script>


