@using HardaGroup.Utility;
@using System.Configuration;
@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@{
    string cultureCode = GlobalizationHelp.GetCurrentThreadCultureCode();
    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    var allNewsScopes = (List<M_NewsScopeSearch>)ViewData["allNewsScope"];
    var currentNewsScope = (M_NewsScopeSearch)ViewData["currentNewsScope"];

    ViewBag.Title = currentNewsScope.TypeName + "|" + language.AboutHarda;

    var typecode = Request["typecode"];
    typecode = string.IsNullOrEmpty(typecode) ? allNewsScopes.First().TypeCode : typecode;
}



<section>
    <div class="container">
        <div class="row">
            

            <div class="col-xs-8 col-is-8 col-sm-9 col-md-9">
                <div class="newscontent-area">
                    @*<h2 class="customer-h2">@currentNewsScope.TypeName</h2>*@
                    <div class="news-content" id="news-content"></div>
                    <div class="news-paginatorbar">
                        <ul id="news-paginator"></ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                <ul class="nav nav-tabs newsScopeTabs">
                    @foreach (var scope in allNewsScopes)
                    {
                        <li>
                            <a href="@string.Format("{0}/press/{1}{2}", cultureUri, scope.TypeCode, urlRewriteExtension)">
                                <strong class="customer-content-sm">@scope.TypeName</strong>
                            </a>
                        </li>
                    }
                </ul>

            </div>
        </div>
    </div>
</section>
<script>

    var currentPage = '@Request["page"]';
    var _currentPage = currentPage != null && currentPage != "" ? currentPage : 1;


    $(function () {

        //选中当前路径选项
        var url = window.location;
        var element = $('.newsScopeTabs a').filter(function () {
            return this.href == url || url.href.indexOf(this.href) == 0;
        });
        
        if(element.length ==0)
        {
            $('.newsScopeTabs a').first().parent().addClass('active');

        } else {
            element.parent().addClass('active');

        }

        InitPaging();
    });

    //初始化分页数据
    function InitPaging() {
        //获取总页数及当前页数据
        var firstResult = GetPageData(_currentPage);
        //加载当前页数据
        RenderPageData(firstResult.data);

        //重置分页条
        ResetPaginator();
        //超过一页才显示分页
        if (firstResult.totalPages > 1) {
            InitPaginator(firstResult.totalPages);
        }

    }
    //重置分页条
    function ResetPaginator() {
        $("#news-paginator").html("");

    }
    //初始化分页条
    function InitPaginator(totalPages) {
        //重置分页条

        var options = {
            size: 'large',            //指定分页条的大小
            bootstrapMajorVersion: 3,  //指定bootstrap版本，为v3，则容器必须为ul;如果版本为v2，则容器必须为div
            numberOfPages: 10,         //设置可选分页按钮个数，默认5
            currentPage: _currentPage,          //当前页
            totalPages: totalPages,         //总页数（从服务端获取）
            //onPageClicked: function (e, originalEvent, type, page) {
            //    //获取分页数据
            //    var result = GetPageData(page);
            //    //渲染当前页数据
            //    RenderPageData(result.data);
            //},
            pageUrl: function (type, page, current) {

                var url = '@string.Format("{0}/press/{1}{2}",cultureUri,typecode,urlRewriteExtension)';
                if (page != 1) {
                    url = url + "?page=" + page;
                }

                return url;

            },
            itemContainerClass: function (type, page, current) {
                return (page === current) ? "active" : "pointer-cursor";
            },
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return '@language.FirstPage';
                    case "prev":
                        return '@language.PreviousPage';
                    case "next":
                        return '@language.NextPage';
                    case "last":
                        return '@language.LastPage';
                    case "page":
                        return page;
                }
            }
        }

        $("#news-paginator").bootstrapPaginator(options);
    }

    //获取分页数据
    function GetPageData(currentPage) {

        var resultData = {
            totalPages: 0,
            data: null
        };

        var params = {
            
            "NewsScopeId": '@currentNewsScope.Id',
            "Culture":'@cultureCode',
            "page": currentPage
        };

        //添加遮罩
        $(".newscontent-area").showLoading();
        //获取数据总页数
        $.ajax({
            type: "POST",
            url: "/Press/GetPageDataForBootstrapPaginator",
            data: params,
            dataType: "json",
            async: false,   //同步
            success: function (result) {

                resultData.totalPages = result.totalPages;
                resultData.data = result.pageDatas;
                //添加遮罩
                $(".newscontent-area").hideLoading();
            }
        });

        return resultData;

    }

    //重新生成Body
    function RenderPageData(datas) {
        var dynamicHtml = "";
        for (var i = 0; i < datas.length; i++) {
            
            var pubTime = JsonDateFormat2(datas[i].Pubtime);

            var contentHref = '@cultureUri' + "/press/" + '@currentNewsScope.TypeCode'+"/"+ datas[i].NewsURLId + '@urlRewriteExtension';
            var shareHref = window.location.host + contentHref;


            dynamicHtml += '<div class="row news-content-row">';
            dynamicHtml += '<div class="col-md-12">';
            dynamicHtml += '<h2 class="customer-h2">' + datas[i].Title+'</h2>';

            dynamicHtml += '<h3 class="customer-h3">' + datas[i].SubTitle + '</h3>';
            dynamicHtml += '<p class="customer-content-sm text-right">' + pubTime + '</p>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-4">';
           
            var imageVirtualPath = "";
            if (datas[i].Image != null)
                imageVirtualPath = datas[i].Image.VirtualPath;
            dynamicHtml += '<img src="' + imageVirtualPath + '" class="img-responsive" alt="无图标"/>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-8">';
            dynamicHtml += '<a class="news-description" href="' + contentHref + '">';
            dynamicHtml += '<p class="customer-content-sm">';
            dynamicHtml += '<strong>';
            dynamicHtml += datas[i].Description == null ? "" : datas[i].Description;
            dynamicHtml += '</strong>';
            dynamicHtml += '</p>';
            dynamicHtml += '</a>';

            dynamicHtml += '</div>';
            dynamicHtml += '</div>';
        }
        $("#news-content").html(dynamicHtml);

    }
</script>



