@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@using System.Configuration;
@using HardaGroup.Utility;
@{
    ViewBag.Title = "智能制造";

    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];   
     
    M_ModuleSearch introduction = (M_ModuleSearch)ViewData["introduction"];
    List<M_ModuleSearch> serviceScopes = (List<M_ModuleSearch>)ViewData["serviceScope"];
    List<M_ModuleSearch> serviceFeatures = (List<M_ModuleSearch>)ViewData["serviceFeatures"];
    
}
<section>
    <div class="container">
        <h2 class="customer-h2 text-center">@language.AboutTheManufacturing</h2>

        <div class="row">
            @if(introduction !=null)
            {
                @Html.Raw(introduction.Content)
            }
        </div>
    </div>
</section>
<section class="jumbotron text-center">
    <div class="container">

        <h2 class="customer-h2 text-center">@language.ManufacturingServiceScope</h2>

        <div class="row">
        @foreach (var scope in serviceScopes)
        {
            var href = !string.IsNullOrEmpty(scope.Href) ? scope.Href
                : string.Format("{0}/advanced-manufacturing/{1}/{2}{3}", cultureUri, scope.Type, scope.ModuleURLId, urlRewriteExtension);
            
            var imageUrl = scope.Image != null ? scope.Image.VirtualPath : "/images/small_model.jpg";
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-is-6 highlight servicescope-section">
                <div class="service-box">
                    <a href="@href" class="information-box">
                        <img class="img-responsive" src="@imageUrl" />
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">
                            @scope.SubTitle
                        </h4>
                        <span class="customer-content-sm">
                            @scope.Description
                        </span>
                    </div>

                </div>
            </div>
        }

        </div> <!-- /row  -->
        <script>

            //找出所有service-information-caption中div最高的那个高度
            var higestCaption = 0;
            $(".service-information-caption").each(function () {

                var sectionHight = $(this).height();
                if(higestCaption < sectionHight)
                {
                    higestCaption = sectionHight;
                }
            });
            //将所有servicescope-section的div高度赋值为最高高度
            $(".service-information-caption").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>
</section>
<section class="">
    <div class="container">

        <h2 class="customer-h2 text-center">@language.ManufacturingServiceFeature</h2>

        <div class="container">
            <div class="row">
                @foreach (var feature in serviceFeatures)
                {
                    var href = !string.IsNullOrEmpty(feature.Href) ? feature.Href:
                        string.Format("{0}/advanced-manufacturing/{1}/{2}{3}", cultureUri, feature.Type, feature.ModuleURLId, urlRewriteExtension);
                    
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-is-6 text-center">
                        
                        <div class="service-box feature-section">
                            <i class="fa fa-4x wow bounceIn @feature.ImageClass"></i>
                            <a href="@href">
                                <h3 class="customer-h3">@feature.SubTitle</h3>
                                <p class="text-muted fa-cus">@feature.Description</p>
                            </a>

                        </div>
                        
                            
                    </div>
                }

            </div>
        </div> <!-- /row  -->
        <script>

            //找出所有feature-section中div最高的那个高度
            var higestCaption = 0;
            $(".feature-section").each(function () {

                var sectionHight = $(this).height();
                if (higestCaption < sectionHight) {
                    higestCaption = sectionHight;
                }
            });
            //将所有feature-section的div高度赋值为最高高度
            $(".feature-section").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>
</section>