@using HardaGroup.Utility;
@using HardaGroup.Models;
@{
    Layout = null;
    var module = (M_Module)ViewData["Module"];
    var globalizationLanguage = (Dictionary<string, string>)ViewData["globalizationLanguage"];
    
}
<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center curd-title">国际化</h3>
    <hr />
    <div class="form-horizontal">

        <div class="form-group">
            <div class="col-md-2 text-right">
                <label class="customer-content-sm">唯一标识：</label>
            </div>
            <div class="col-md-10">
                <label class="customer-content-sm">@module.ModuleURLId</label>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">国际化语言：</label>
            </div>
            <div class="col-md-10">
                <select class="select-large" id="selCulture">
                    @foreach (var key in globalizationLanguage.Keys)
                    {
                        <option value="@key">@globalizationLanguage[key]</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group hide">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">标题：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbTitle" placeholder="标题" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">标题：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbSubTitle" placeholder="标题" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">内容简介：</label>
            </div>
            <div class="col-md-10">
                <textarea class="textarea-large" id="taDescription"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">图片Class：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbImageClass" placeholder="图片Class" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">图标：</label>
            </div>
            <div class="col-md-10">
                <div id="uploadThumbnailsImage">选择图片</div>
                <span class="customer-content-sm" id="status"></span>
            </div>
            <div class="col-lg-4 col-md-6 col-md-offset-2" style="margin-top:10px;">
               <img class="img-responsive" id="showUploadImage" src="~/images/small_model.jpg" alt="无图标" />

            </div>

        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">是否链接：</label>
            </div>
            <div class="col-md-10" style="padding-top:5px;">
                <input type="radio" value="true" name="IsHref" /><label>是</label>
                <input type="radio" value="false" checked="checked" name="IsHref" style="margin-left:50px;" /><label>否</label>

            </div>
        </div>
        <div class="form-group" id="divHref" style="display:none;">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">链 接：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbHref" placeholder="链接" />
            </div>
        </div>


        <div class="form-group" id="divContent">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">内 容：</label>
            </div>
            <div class="col-md-10">
                <textarea id="taContent" name="content"></textarea>

            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-info"
            data-dismiss="modal">
        退 出
    </button>
    <button type="button" class="btn btn-lg btn-danger" onclick="SaveEdit()">
        保 存
    </button>
</div>

<link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
<script src="~/Scripts/webuploader/webuploader.js"></script>
<script src="~/Scripts/webuploader/customer-image-webuploader.js"></script>

<script type="text/javascript">
    var editor = KindEditor.create('textarea[name="content"]',kindeditorConfig);
    var uploader;

    $(function () {
        InitDatetimepicker(".form_datetime");

        LoadCultureData();

        $("#selCulture").change(function () {
            LoadCultureData();
        });

        //是否链接事件
        $("[name='IsHref']").change(function () {
            ChangeHrefRadio();
        });

        //初始化图片上传插件
        uploader = $("#uploadThumbnailsImage").InitImageWebUploader({
            url: "/Module/UploadThumbnailsImage",
            size: 1,
            multiple: false,
            autoupload: false,
            thumbid: "#showUploadImage",
            singleupload: true
        }, function () {
            //图片上传成功后关闭对话框，刷新表格
            CloseModal();
            //刷新表格
            RefreshTable();
            $("body").hideLoading();
        });
    });


    function UploadImage(moduleGlobalizationId, culture) {

        uploader.options.formData.moduleGlobalizationId = moduleGlobalizationId;
        uploader.options.formData.culture = culture;

        uploader.upload();
    }


    function ChangeHrefRadio() {
        var isHref = $("input[name='IsHref']:checked").val();

        if (isHref == "true") {
            //如果是链接，则隐藏并且清空内容编辑框,显示Href输入框
            editor.html("");
            $("#divHref").show();
            $("#divContent").hide();

        } else {
            //如果不是链接，则隐藏并且清空Href输入框,显示内容编辑框
            $("#Href").val(" ");
            $("#divHref").hide();
            $("#divContent").show();
        }
    }

    //根据国际化语言加载数据
    function LoadCultureData() {
        $("body").showLoading();
        $.ajax({
            type: "POST",
            url: "/Module/LoadModuleGlobalizationData",
            dataType: "json",
            data: { ModuleId: '@module.Id', Culture: $("#selCulture").val() },
            async: false,   //同步
            success: function (message) {
                $("body").hideLoading();
                //先清空
                $("#tbTitle").val("");
                $("#tbSubTitle").val("");
                $("#tbImageClass").val("");
                $("#taDescription").val("");
                $("#showUploadImage").attr("src", "/images/small_model.jpg");
                editor.html("");

                //设置为不是链接
                $("input[type=radio][value=false]").attr("checked", 'checked');
                ChangeHrefRadio();
                

                if (message.Success) {

                    //赋值
                    var data = JSON.parse(message.Content);

                    var imageUrl = data.Image != null ? data.Image.VirtualPath : "";
                    $("#tbTitle").val(data.Title);
                    $("#tbSubTitle").val(data.SubTitle);
                    $("#taDescription").val(data.Description);
                    $("#tbImageClass").val(data.ImageClass);
                    $("#tbHref").val(data.Href);
                    $("#showUploadImage").attr("src", imageUrl);
                    editor.html(data.Content);

                    //如果是链接，则选中链接选项
                    var isHref = data.IsHref;
                    $("input[type=radio][value="+isHref+"]").attr("checked", 'checked');
                    ChangeHrefRadio();
                    
                }
            }
        });
    }



   
    //修改或新增保存
    function SaveEdit() {

        $("body").showLoading();
        var saveObj = ConstructSaveObj();
        var jsonParam = JSON.stringify(saveObj);
        $.ajax({
            type: "POST",
            url: "/Module/SaveModuleGlobalization",
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {

                if (message.Success) {

                    var moduleGlobalization = JSON.parse(message.Content);
                    //上传图片
                    var moduleGlobalizationId = moduleGlobalization.Id;
                    var culture = moduleGlobalization.Culture;
                    UploadImage(moduleGlobalizationId, culture);

                } else {
                    $("body").hideLoading();

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }
            }
        });
    }


    //构造保存对象
    function ConstructSaveObj() {

        var moduleGlobalization = {
            ModuleId: '@module.Id',
            Title: $("#tbTitle").val(),
            SubTitle: $("#tbSubTitle").val(),
            Description: $("#taDescription").val(),
            ImageClass: $("#tbImageClass").val(),
            IsHref: $("input[name='IsHref']:checked").val(),
            Href: $("#tbHref").val(),
            Content: editor.html(),
            Culture: $("#selCulture").val()
        };


        return moduleGlobalization;
    }

</script>


