@using Microsoft.AspNet.Identity
@using System.Configuration;
@using HardaGroup.Utility;
@using HardaGroup.Web.Globalization;
@{
    var title = "HARDA|华尔达集团";
    if (!string.IsNullOrEmpty(ViewBag.Title))
    {
        title = ViewBag.Title + "|" + title;
    }
    
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Padmate Allen">

    <title>@title</title>
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap.css">
    <link rel="stylesheet" href="~/Content/bootstrap-table.css">
    <link rel="stylesheet" href="~/Content/customer-bootstrap-table.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="~/Content/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/Common.css">
    <link rel="stylesheet" href="~/fonts/font-awesome/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/admin.css">
    <link rel="stylesheet" href="~/Content/admin-skin.css">
    <link rel="stylesheet" href="~/Scripts/loading/showLoading.css">
    <link rel="stylesheet" href="~/Content/tooltip.css">
    


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-table/bootstrap-table-zh-CN.js"></script>
    <script src="~/Scripts/bootstrap-table/customer-bootstrap-table.js"></script>
    <script src="~/Scripts/bootstrap-paginator.js"></script>

    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker/customer-datetimepicker.js"></script>
    <script src="~/Scripts/dateformathelp.js"></script>
    <script src="~/Scripts/loading/jquery.showLoading.js"></script>

    <!-- AdminLTE App -->
    <script src="~/Scripts/admin/app.js"></script>
    <script src="~/Scripts/Globalization.js"></script>

    <link rel="stylesheet" href="~/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="~/kindeditor/plugins/code/prettify.css" />
    <script charset="utf-8" src="~/kindeditor/kindeditor.js"></script>
    <script charset="utf-8" src="~/kindeditor/lang/zh_CN.js"></script>
    <script charset="utf-8" src="~/kindeditor/plugins/code/prettify.js"></script>
    <script charset="utf-8" src="~/kindeditor/kindeditor-config.js"></script>


</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>Har</b>da</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Harda</b>Group</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                                                <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/images/loginuser.jpg" class="user-image" alt="User Image">
                                <span class="hidden-xs">
                                @User.Identity.GetUserName()
                                </span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/images/loginuser.jpg" class="img-circle" alt="User Image">

                                    <p>
                                        欢迎登录华尔达后台管理 - @User.Identity.GetUserName()
                                        <small>@DateTime.Now</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <li class="user-body">
                                    <div class="row">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </div>
                                    <!-- /.row -->
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">个人资料</a>
                                    </div>
                                    <div class="pull-right">
                                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">注销</a>

                                        }

                                    </div>
                                </li>
                            </ul>
                            
                        </li>

                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li><a href="@string.Format("/manage{0}",urlRewriteExtension)"><i class="fa fa-dashboard"></i> <span>首页</span></a></li>
                    <li class="treeview">
                        <a href="javaScript:void(0)">
                            <i class="fa fa-image"></i> <span>图片管理</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}",@Common.Image_HomeBG,urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-blue"></i>首页
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}", @Common.Image_AboutBG, urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-yellow"></i>关于华尔达
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}",@Common.Image_AdvancedManufacturingBG, urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-red"></i>智能制造
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}",@Common.Image_SolutionsBG_RD, urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-red"></i>解决方案-研发
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}",@Common.Image_SolutionsBG_PM, urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-red"></i>解决方案-组件产品
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}",@Common.Image_VentureSupportBG, urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-red"></i>创新创业
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}",@Common.Image_PressBG, urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-red"></i>媒体资讯
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/background-{0}{1}",@Common.Image_JoinUsBG, urlRewriteExtension)">
                                    <i class="fa fa-circle-o text-red"></i>加入华尔达
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="@string.Format("/manage/about{0}", urlRewriteExtension)"><i class="fa fa-files-o"></i> <span>关于华尔达</span></a></li>
                    <li class="treeview">
                        <a href="javaScript:void(0)">
                            <i class="fa fa-magic"></i> <span>智能制造</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@string.Format("/manage/manufacturing/introduction{0}", urlRewriteExtension)">
                                    <i class="fa fa-info-circle text-blue"></i>制造简介
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/manufacturing/{0}{1}",Common.ModuleType_Manufacturing_ServiceScope,urlRewriteExtension)">
                                    <i class="fa fa-info text-yellow"></i>服务范围
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/manufacturing/{0}{1}",Common.ModuleType_Manufacturing_ServiceFeatures ,urlRewriteExtension)">
                                    <i class="fa fa-info text-yellow"></i>服务特色
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javaScript:void(0)">
                            <i class="fa fa-support"></i> <span>创新创业</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@string.Format("/manage/venture/{0}{1}",Common.ModuleType_VentureSupport_InvestedFields, urlRewriteExtension)">
                                    <i class="fa fa-info-circle text-blue"></i>投资领域
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/venture/{0}{1}", Common.ModuleType_VentureSupport_NineSupportingPlatforms, urlRewriteExtension)">
                                    <i class="fa fa-info text-yellow"></i>九大平台
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/venture/{0}{1}", Common.ModuleType_VentureSupport_ThreeSpaces, urlRewriteExtension)">
                                    <i class="fa fa-info text-yellow"></i>三大空间
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="javaScript:void(0)">
                            <i class="fa fa-image"></i> <span>媒体资讯</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="@string.Format("/manage/news-scope{0}",urlRewriteExtension)">
                                    <i class="fa fa-info-circle text-blue"></i>模块管理
                                </a>
                            </li>
                            <li>
                                <a href="@string.Format("/manage/news{0}",urlRewriteExtension)">
                                    <i class="fa fa-info text-yellow"></i>内容管理
                                </a>
                            </li>
                        </ul>
                    </li>
                    
                 </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                   
                    <small>@ViewBag.Title</small>
                </h1>
            </section>
            @RenderBody()
            <!-- Main content -->
            <!-- /.content -->
        </div>

        
    </div>
    
    <script>
        $(function () {

            //当前访问路径
            var url = window.location;
            var element = $('.sidebar-menu a').filter(function () {
                return this.href == url || url.href.indexOf(this.href) == 0;
            }).parent().addClass('active').parent().parent();
            if (element.is('li')) {

                element.addClass('active');
            }

            //$(".sidebar-menu a").click(function () {
            //    event.preventDefault();
            //    if(this.pathname !="void(0)")
            //    {
            //        alert(this.pathname);

            //    }
            //});
        });
    </script>

</body>
</html>
