@using Microsoft.AspNet.Identity
@using System.Configuration;
@using HardaGroup.Utility;
@using HardaGroup.Web.Globalization;

@{
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
        
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right login-box fa-dropdown head-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                @User.Identity.GetUserName()
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu login-li-bg">
                @if (User.IsInRole("Admin"))
                {
                <li>
                    <a href="@string.Format("/manage{0}", urlRewriteExtension)">@language.BackwardManagement</a>
                </li>
                }

                <li><a href="javascript:document.getElementById('logoutForm').submit()">@language.SignOut</a></li>
            </ul>
        </li>

    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        @{
            var text = HardaGroup.Web.Globalization.language.Login + " / " + @HardaGroup.Web.Globalization.language.Register;
        }
        <li>
            <a class="btn" id="loginLink" href="@string.Format("/login{0}?ReturnUrl={1}",urlRewriteExtension,Request.RawUrl)">
                @text
            </a>
            @*@Html.ActionLink(text, "Login", "Account", new { area = "", ReturnUrl = Request.Url.PathAndQuery }, htmlAttributes: new { id = "loginLink", @class = "btn" })*@
        </li>
    </ul>
}
