@using System.Configuration;
@using HardaGroup.Models;
@using HardaGroup.Utility
@using HardaGroup.Web.Globalization;
@{
    var news = (M_NewsSearch)ViewData["news"];
    var newsScopes = (List<M_NewsScopeSearch>)ViewData["NewsScope"];
    var previousData = (M_NewsSearch)ViewData["PreviousData"];
    var nextData = (M_NewsSearch)ViewData["NextData"];
    
    //当前所属模块
    var scopeName = newsScopes.Where(s => s.Id == news.NewsScopeId).Select(s => s.TypeName).FirstOrDefault();

    
    ViewBag.Title = news.SubTitle;
    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    var typecode = Request["typecode"];
}

<style>
    .detailNav{
        padding-bottom:30px;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 detailNav">
                <h3>
                    <a class="customer-content-xs" href="@cultureUri/">@language.Home  &nbsp;>&nbsp;  </a>
                    <a class="customer-content-xs" href="@string.Format("{0}/press/{1}{2}", cultureUri, typecode, urlRewriteExtension)">@language.Press &nbsp;>&nbsp;</a>
                    <a class="customer-content-xs" href="@string.Format("{0}/press/{1}/{2}{3}", cultureUri, typecode, news.NewsURLId, urlRewriteExtension)">@news.SubTitle</a>

                </h3>
                <!-- share -->


            </div>
            <div class="col-md-12">
                @Html.Raw(news.Content)


            </div>

        </div>
        <div style="padding:50px 0px;">
            @if (previousData != null)
            {
                <div>
                    @language.Previous：
                    <a class="customer-content-xs" href="@string.Format("{0}/press/{1}/{2}{3}", cultureUri, typecode, previousData.NewsURLId, urlRewriteExtension)">@previousData.SubTitle</a>
                </div>

            }

            @if (nextData != null)
            {
                <div>
                    @language.Next：
                    <a class="customer-content-xs" href="@string.Format("{0}/press/{1}/{2}{3}", cultureUri, typecode, nextData.NewsURLId, urlRewriteExtension)">@nextData.SubTitle</a>
                </div>

            }
        </div>

    </div>
</section>

<script>

</script>

