@using HardaGroup.Utility;
@using System.Configuration;
@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@{
    ViewBag.From = "Default";
    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    var scrollNews = (List<M_NewsSearch>)ViewData["scrollNews"];
    var hotNews = (List<M_NewsSearch>)ViewData["hotNews"];
    
} 
<style>
    
    
</style>
<div class="jumbotron">
    <div class="container">

        <h3 class="text-center thin">模块标题</h3>

        <div class="row">
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>自动化制造</h4></div>
                <div class="h-body text-center">
                    <p>
                        文字介绍文字介绍文字介绍文字介绍
                        文字介绍文字介绍文字介绍文字介绍
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>智能硬件</h4></div>
                <div class="h-body text-center">
                    <p>
                        文字介绍文字介绍文字介绍文字介绍
                        文字介绍文字介绍文字介绍文字介绍
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>华尔达精密</h4></div>
                <div class="h-body text-center">
                    <p>
                        文字介绍文字介绍文字介绍文字介绍
                        文字介绍文字介绍文字介绍文字介绍
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 highlight">
                <div class="h-caption"><h4><i class="fa fa-send fa-5"></i>SVV加速</h4></div>
                <div class="h-body text-center">
                    <p>
                        文字介绍文字介绍文字介绍文字介绍
                        文字介绍文字介绍文字介绍文字介绍
                    </p>
                </div>
            </div>
        </div> <!-- /row  -->

    </div>
</div>
<div class="scrollNews-section">
    <div class="container">
        @if (scrollNews.Count > 0)
        {
            <div class="row">
                <div class="col-md-12 scrollNews-title">
                    <h1 class="customer-h1 whitefont">最新资讯</h1>
                </div>
            </div>
            <div class="row">
                
                <div class="col-is-8 col-xs-7 col-sm-9 col-md-9">

                    <div id="scrollDiv">
                        <ul class="customer-content-md">
                            @foreach (var news in scrollNews)
                            {
                                <li>
                                    <a href="@string.Format("{0}/press/{1}/{2}{3}", cultureUri, news.ScopeTypeCode,news.NewsURLId ,urlRewriteExtension)" class="linktit" title="@news.Title">
                                      <h2 class="customer-h2 whitefont">@news.SubTitle</h2> 
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-is-4 col-xs-5 col-sm-3 col-md-3">
                    <div class="scrollbox">
                        <a href="javaScript:void(0)" id="btn_up">
                            <i class="fa fa-arrow-circle-o-up fa-3x"></i>

                        </a>
                        <a href="javaScript:void(0)" id="btn_down">
                            <i class="fa fa-arrow-circle-o-down fa-3x"></i>

                        </a>

                        @*<small id="but_up">↑上一条</small>
                        <small id="but_down">↓下一条</small>*@
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>
<div class="hotNews-section">
    <div class="container">


        <div class="row text-center">
            @for (int i = 0; i < hotNews.Count; i++)
            {
                //只显示前三条
                if (i < 3)
                {
                    var href = string.Format("{0}/press/{1}/{2}{3}", cultureUri, hotNews[i].ScopeTypeCode, hotNews[i].NewsURLId, urlRewriteExtension);

                    var imageUrl = hotNews[i].Image != null ? hotNews[i].Image.VirtualPath : "/images/small_model.jpg";

            <div class="col-md-4 col-sm-4 col-is-4 highlight">
                <div class="service-box">
                    <a href="@href" class="information-box">
                        <img class="img-responsive" src="@imageUrl" />
                    </a>
                    <div class="service-information-caption hotnews-section">
                        <h4 class="customer-h4">
                            @hotNews[i].SubTitle
                        </h4>
                        <span class="customer-content-sm">
                            @hotNews[i].Description

                        </span>
                    </div>

                </div>
            </div>
                }

            }



        </div>
        <script>

            //找出所有service-information-caption中div最高的那个高度
            var higestCaption = 0;
            $(".hotnews-section").each(function () {

                var sectionHight = $(this).height();
                if (higestCaption < sectionHight) {
                    higestCaption = sectionHight;
                }
            });
            //将所有servicescope-section的div高度赋值为最高高度
            $(".hotnews-section").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>
</div>
<!-- Intro -->

<!-- container -->
<div class="container">

    <h2 class="text-center top-space">为什么选择华尔达</h2>
    <br>

    <div class="row">
        <div class="col-sm-6">
            <h3>Which code editor would you recommend?</h3>
            <p>I'd highly recommend you <a href="http://www.sublimetext.com/">Sublime Text</a> - a free to try text editor which I'm using daily. Awesome tool!</p>
        </div>
        <div class="col-sm-6">
            <h3>Nice header. Where do I find more images like that one?</h3>
            <p>
                Well, there are thousands of stock art galleries, but personally,
                I prefer to use photos from these sites: <a href="http://unsplash.com">Unsplash.com</a>
                and <a href="http://www.flickr.com/creativecommons/by-2.0/tags/">Flickr - Creative Commons</a>
            </p>
        </div>
    </div> <!-- /row -->

    <div class="row">
        <div class="col-sm-6">
            <h3>Can I use it to build a site for my client?</h3>
            <p>
                Yes, you can. You may use this template for any purpose, just don't forget about the <a href="http://creativecommons.org/licenses/by/3.0/">license</a>,
                which says: "You must give appropriate credit", i.e. you must provide the name of the creator and a link to the original template in your work.
            </p>
        </div>
        <div class="col-sm-6">
            <h3>Can you customize this template for me?</h3>
            <p>Yes, I can. Please drop me a line to sergey-at-pozhilov.com and describe your needs in details. Please note, my services are not cheap.</p>
        </div>
    </div> <!-- /row -->


</div>	<!-- /container -->

<script>
    $(function () {
        InitCarousel();
        ScrollNews();

        $(".feature").hover(function () {
            $(this).find("i").addClass("fa-spin");
        }, function () {
            $(this).find("i").removeClass("fa-spin");
        });

    });
    //初始化轮播图片
    function InitCarousel() {
        $('#headbg-img').carousel({
            interval: 6000,
            pause: 'cycle'
        });
    }

    //新闻滚动
    function ScrollNews()
    {
        $("#scrollDiv").Scroll({
            line: 1,
            speed: 500,
            timer: 3000,
            up: "btn_up",
            down: "btn_down"
        });
    }
</script>