@using HardaGroup.Utility;
@using System.Configuration;
@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@{
    ViewBag.From = "Default";
    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    var scrollNews = (List<M_NewsSearch>)ViewData["scrollNews"];
    var hotNews = (List<M_NewsSearch>)ViewData["hotNews"];

    var module1 = (M_ModuleSearch)ViewData["module1"];
    var module2 = (M_ModuleSearch)ViewData["module2"];
    var whychooseharda = (M_ModuleSearch)ViewData["whychooseharda"];
    
} 
<style>
    
    
</style>
@Html.Raw(module1.Content)
<div class="scrollNews-section">
    <div class="container">
        @if (scrollNews.Count > 0)
        {
            <div class="row">
                <div class="col-md-12 scrollNews-title">
                    <h1 class="customer-h1 whitefont">最新资讯</h1>
                </div>
            </div>
            <div class="row">
                
                <div class="col-is-2 col-xs-2 col-sm-2 col-md-2 text-right">
                    <div class="scrollbox">
                        <a href="javaScript:void(0)" id="btn_up">
                            <i class="fa fa-chevron-left fa-2x"></i>

                        </a>
                    </div>
                </div>
                <div class="col-is-8 col-xs-8 col-sm-8 col-md-8">

                    <div id="scrollDiv">
                        <ul class="customer-content-md">
                            @foreach (var news in scrollNews)
                            {
                                <li>
                                    <a href="@string.Format("{0}/press/{1}/{2}{3}", cultureUri, news.ScopeTypeCode,news.NewsURLId ,urlRewriteExtension)" class="linktit" title="@news.Title">
                                      <h2 class="customer-h2 whitefont">@news.SubTitle</h2> 
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
                <div class="col-is-2 col-xs-2 col-sm-2 col-md-2 text-left">
                    <div class="scrollbox">
                      
                        <a href="javaScript:void(0)" id="btn_down">
                            <i class="fa fa-chevron-right fa-2x"></i>

                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>
<div class="hotNews-section">
    <div class="container">


        <div class="row text-center">
            @for (int i = 0; i < hotNews.Count; i++)
            {
                //只显示前三条
                if (i < 3)
                {
                    var href = string.Format("{0}/press/{1}/{2}{3}", cultureUri, hotNews[i].ScopeTypeCode, hotNews[i].NewsURLId, urlRewriteExtension);

                    var imageUrl = hotNews[i].Image != null ? hotNews[i].Image.VirtualPath : "/images/small_model.jpg";

            <div class="col-md-4 col-sm-4 col-is-4 highlight">
                <div class="service-box">
                    <a href="@href" class="information-box">
                        <img class="img-responsive" src="@imageUrl" />
                    </a>
                    <div class="service-information-caption hotnews-section">
                        <h4 class="customer-h4">
                            @hotNews[i].SubTitle
                        </h4>
                        <span class="customer-content-sm">
                            @hotNews[i].Description

                        </span>
                    </div>

                </div>
            </div>
                }

            }



        </div>
        <script>

            //找出所有service-information-caption中div最高的那个高度
            var higestCaption = 0;
            $(".hotnews-section").each(function () {

                var sectionHight = $(this).height();
                if (higestCaption < sectionHight) {
                    higestCaption = sectionHight;
                }
            });
            //将所有servicescope-section的div高度赋值为最高高度
            $(".hotnews-section").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>
</div>
<!-- Intro -->
@Html.Raw(module2.Content)
@Html.Raw(whychooseharda.Content)

<script>
    $(function () {
        InitCarousel();
        ScrollNews();

        $(".feature").hover(function () {
            $(this).find("i").addClass("fa-spin");
        }, function () {
            $(this).find("i").removeClass("fa-spin");
        });

    });
    //初始化轮播图片
    function InitCarousel() {
        $('#headbg-img').carousel({
            interval: 6000,
            pause: 'cycle'
        });
    }

    //新闻滚动
    function ScrollNews()
    {
        $("#scrollDiv").Scroll({
            line: 1,
            speed: 500,
            timer: 3000,
            up: "btn_up",
            down: "btn_down"
        });
    }
</script>