@using HardaGroup.Utility;
@using HardaGroup.Models;
@{
    Layout = null;
    var jobScopes = (List<M_JobScopeSearch>)ViewData["JobScope"];
}
<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center curd-title">新 增</h3>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">职位分类：</label>
            </div>
            <div class="col-md-10">
                <select class="select-large" id="selJobScopeId">
                    <option value="">请选择职位分类</option>
                    @foreach (var scope in jobScopes)
                    {
                        <option value="@scope.Id">@scope.TypeName</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">URL标识：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbURLId" style="width:40%" placeholder="只能是字母、数字或 - 组成" />
                <input class="btn btn-default" id="btnGenerateNewUrlId" type="button" style="width:9%" value="自动生成" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">工作地点：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbLocation" placeholder="工作地点" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">职位名称：</label>
            </div>
            <div class="col-md-10">
                <input class="input-large" id="tbJobTitle" placeholder="职位名称" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">需求描述：</label>
            </div>
            <div class="col-md-10">
                <textarea class="textarea-large" id="taDescription"></textarea>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">发布时间：</label>
            </div>
            <div class="col-md-3">
                <div class="input-group date form_datetime" data-date=""
                     data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="tbPubTime">
                    <input class="form-control" size="16" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" readonly>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                </div>
                <input type="hidden" id="tbPubTime" name="PubTime" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")" /><br />
            </div>


        </div>

        

        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">热门职位：</label>
            </div>
            <div class="col-md-10" style="padding-top:5px;">
                <input type="radio" value="true" name="IsHot" /><label>是</label>
                <input type="radio" value="false" checked="checked" name="IsHot" style="margin-left:50px;" /><label>否</label>

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">具体需求：</label>
            </div>
            <div class="col-md-10">
                <textarea id="taContent" name="content"></textarea>

            </div>
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-info"
            data-dismiss="modal">
        退 出
    </button>
    <button type="button" class="btn btn-lg btn-danger" onclick="SaveAdd()">
        保 存
    </button>
</div>



<script type="text/javascript">
    var editor = KindEditor.create('textarea[name="content"]', kindeditorConfig);

    $(function () {
        InitDatetimepicker(".form_datetime");
        InitGenerateJobUrlIdEvent();

    });


    //修改或新增保存
    function SaveAdd() {

        $("body").showLoading();
        var saveObj = ConstructSaveObj();
        var jsonParam = JSON.stringify(saveObj);
        $.ajax({
            type: "POST",
            url: "/JoinUs/SaveJobAdd",
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {

                if (message.Success) {

                    //图片上传成功后关闭对话框，刷新表格
                    CloseAddScreen();
                    //刷新表格
                    RefreshTable();
                    $("body").hideLoading();

                } else {
                    $("body").hideLoading();

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }
            }
        });
    }


    //构造保存对象
    function ConstructSaveObj() {

        var jobGlobalization = {

            Location: $("#tbLocation").val(),
            JobTitle: $("#tbJobTitle").val(),
            Description: $("#taDescription").val(),
            Content: editor.html(),
            Culture: '@Common.Globalization_Chinese'
        };
        var arrJobGlobalization = new Array();
        arrJobGlobalization.push(jobGlobalization);

        var obj = {
            URLId: $("#tbURLId").val(),
            IsHot: $("input[name='IsHot']:checked").val(),
            PubTime: $("#tbPubTime").val(),
            JobScopeId: $("#selJobScopeId").val(),
            JobGlobalizations: arrJobGlobalization

        };
        return obj;
    }

    function InitGenerateJobUrlIdEvent() {
        $("#btnGenerateNewUrlId").click(function () {

            $.ajax({
                type: "POST",
                url: "/JoinUs/GenerateNewURLId",
                dataType: "json",
                async: false,   //同步
                success: function (message) {

                    if (message.Success) {

                        $("#tbURLId").val(message.ReturnStrId);

                    } else {
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv' //样式类名
                          , closeBtn: 0
                        });
                        return;
                    }
                }
            });
        });
    }

</script>


