@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@using System.Configuration;
@using HardaGroup.Utility;
@{
    ViewBag.Title = "研发";

    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    M_ModuleSearch introduction = (M_ModuleSearch)ViewData["introduction"];
    List<M_ModuleSearch> designscopes = (List<M_ModuleSearch>)ViewData["designscopes"];
    List<M_ModuleSearch> productsolutions = (List<M_ModuleSearch>)ViewData["productsolutions"];
    List<M_ModuleSearch> workflow = (List<M_ModuleSearch>)ViewData["workflow"];
    

}
<section>
    <div class="container">
        <h2 class="customer-h2 text-center">研发简介</h2>

        <div class="row">
            @if (introduction != null)
            {
                @Html.Raw(introduction.Content)
            }
        </div>
    </div>
</section>
<section class="jumbotron text-center">
    <div class="container">

        <h2 class="customer-h2 text-center">设计服务范围</h2>

        <div class="row">
            @foreach (var field in designscopes)
            {

                var href = !string.IsNullOrEmpty(field.Href) ? field.Href
                    : string.Format("{0}/solutions/{1}/{2}{3}", cultureUri, field.Type, field.ModuleURLId, urlRewriteExtension);

                var imageUrl = field.Image != null ? field.Image.VirtualPath : "/images/small_model.jpg";

                <div class="col-md-3 col-sm-3 col-is-6 col-xs-12 highlight">
                    <div class="service-box">
                        <a href="@href" class="information-box">
                            <img class="img-responsive" src="@imageUrl" />
                            <div class="information-box-caption">
                                <div class="information-box-caption-content">
                                    <div class="divmiddle-box">
                                        <div class="divmiddle-box-content">
                                            <p class="customer-content-md whitefont">了解详情</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="service-information-caption designscopes-section">
                            <h3 class="customer-h3">
                                @field.SubTitle
                            </h3>
                            <span class="customer-content-sm">
                               @Html.Raw(field.Description)
                            </span>
                        </div>

                    </div>
                </div>

            }

        </div> <!-- /row  -->
        <script>

            //找出所有div最高的那个高度
            var higestCaption = 0;
            $(".designscopes-section").each(function () {

                var sectionHight = $(this).height();
                if (higestCaption < sectionHight) {
                    higestCaption = sectionHight;
                }
            });
            //将所有的div高度赋值为最高高度
            $(".designscopes-section").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>
</section>
<section class="">
    <div class="container">

        <h2 class="customer-h2 text-center">产品解决方案</h2>

        <div class="container">
            <div class="row">
                @foreach (var field in productsolutions)
                {
                    var href = !string.IsNullOrEmpty(field.Href) ? field.Href
                   : string.Format("{0}/solutions/{1}/{2}{3}", cultureUri, field.Type, field.ModuleURLId, urlRewriteExtension);

                    var imageUrl = field.Image != null ? field.Image.VirtualPath : "/images/small_model.jpg";
                    
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box productsolutions-section">
                            @if (string.IsNullOrEmpty(field.ImageClass))
                            {
                                <img src="@imageUrl" class="img-responsive" />
                            }
                            else
                            {
                                <i class="@field.ImageClass"></i>

                            }
                            <h3>@field.SubTitle</h3>
                            <p class="text-muted">@Html.Raw(field.Description)</p>
                        </div>
                    </div>
                }
                <script>

                    //找出所有div最高的那个高度
                    var higestCaption = 0;
                    $(".productsolutions-section").each(function () {

                        var sectionHight = $(this).height();
                        if (higestCaption < sectionHight) {
                            higestCaption = sectionHight;
                        }
                    });
                    //将所有的div高度赋值为最高高度
                    $(".productsolutions-section").each(function () {
                        var padding = 20;
                        $(this).css({ 'height': higestCaption + padding });


                    });

                </script>


                
            </div>
        </div> <!-- /row  -->

    </div>
</section>

<section class="jumbotron text-capitalize">
    <div class="container">

        <h3 class="customer-h2 text-center">研发流程与管理</h3>

        <div class="row">
            @foreach (var field in workflow)
            {
                var href = !string.IsNullOrEmpty(field.Href) ? field.Href
                   : string.Format("{0}/solutions/{1}/{2}{3}", cultureUri, field.Type, field.ModuleURLId, urlRewriteExtension);

                var imageUrl = field.Image != null ? field.Image.VirtualPath : "/images/small_model.jpg";
                
                <div class="col-md-3 col-sm-6 highlight">
                    <div class="h-caption">
                        <h4>
                            @if (string.IsNullOrEmpty(field.ImageClass))
                            {
                                <img src="@imageUrl" class="img-responsive" />
                            }
                            else
                            {
                                <i class="@field.ImageClass"></i>

                            }
                            @field.SubTitle
                        </h4>
                    </div>
                    <div class="h-body text-center">
                        @Html.Raw(field.Description)
                    </div>
                </div>
            }
            
        </div> <!-- /row  -->

    </div>
</section>