@using HardaGroup.Web.Globalization;
@using HardaGroup.Models;
@using System.Configuration;
@using HardaGroup.Utility;
@{
    ViewBag.Title = "创新创业";
    var ximenipHref = "http://www.xiamenip.cn";

    string cultureUri = GlobalizationHelp.GetCurrentThreadCultureUri();
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];

    List<M_ModuleSearch> investedFields = (List<M_ModuleSearch>)ViewData["investedFields"];
    List<M_ModuleSearch> ninePlatforms = (List<M_ModuleSearch>)ViewData["ninePlatforms"];
    List<M_ModuleSearch> threeSpaces = (List<M_ModuleSearch>)ViewData["threeSpaces"];
    
}
<style>
    .service-item{
    margin-bottom:20px;
}
.service-item-span-lg{
    -webkit-transform: scale(1.1);
	  -moz-transform: scale(1.1);
			transform: scale(1.1);
}
</style>
<section class="text-center">
    <div class="container">

        <h2 class="customer-h2 text-center">@language.InvestedFields</h2>

        <div class="row">
            @foreach (var field in investedFields)
            {

                var href = !string.IsNullOrEmpty(field.Href) ? field.Href
                    : string.Format("{0}/venture-support/{1}/{2}{3}", cultureUri, field.Type, field.ModuleURLId,urlRewriteExtension);

                var imageUrl = field.Image != null ? field.Image.VirtualPath : "/images/small_model.jpg";

                <div class="col-md-3 col-sm-3 col-is-6 col-xs-12 highlight">
                    <div class="service-box">
                        <a href="@href" class="information-box">
                            <img class="img-responsive" src="@imageUrl" />
                            <div class="information-box-caption">
                                <div class="information-box-caption-content">
                                    <div class="divmiddle-box">
                                        <div class="divmiddle-box-content">
                                            <p class="customer-content-md whitefont">了解详情</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="service-information-caption investedfield-section">
                            <h3 class="customer-h3">
                                @field.SubTitle
                            </h3>
                            <span class="customer-content-sm">
                                @field.Description
                            </span>
                        </div>

                    </div>
                </div>
                
            }

        </div> <!-- /row  -->
        <script>

            //找出所有div最高的那个高度
            var higestCaption = 0;
            $(".investedfield-section").each(function () {

                var sectionHight = $(this).height();
                if (higestCaption < sectionHight) {
                    higestCaption = sectionHight;
                }
            });
            //将所有的div高度赋值为最高高度
            $(".investedfield-section").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>
</section>
<section id="services" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="customer-h2 animated tada">
                    @language.NineSupportingPlatforms
                </h2>
            </div>
        </div>
        <div class="row text-center">
            @foreach (var platform in ninePlatforms)
            {
                var href = !string.IsNullOrEmpty(platform.Href) ? platform.Href
                    : string.Format("{0}/venture-support/{1}/{2}{3}", cultureUri, platform.Type, platform.ModuleURLId, urlRewriteExtension);

                <div class="col-is-6 col-sm-4 col-md-4">
                    <div class="service-item platform-section">
                        <a href="@href">
                            <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                <i class="fa fa-stack-1x fa-inverse @platform.ImageClass"></i>
                            </span>
                            <h3 class="customer-h3">@platform.SubTitle</h3>
                            <span class="customer-content-sm">
                                @platform.Description
                            </span>
                        </a>
                    </div>
                </div>
            }

        </div>
        <script>

            //找出所有div最高的那个高度
            var higestCaption = 0;
            $(".platform-section").each(function () {

                var sectionHight = $(this).height();
                if (higestCaption < sectionHight) {
                    higestCaption = sectionHight;
                }
            });
            //将所有的div高度赋值为最高高度
            $(".platform-section").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>

</section>
<section class="text-center">
    <div class="container">

        <h2 class="customer-h2 text-center">@language.ThreeSpaces</h2>

        <div class="row">
            @foreach (var space in threeSpaces)
            {
                var href = !string.IsNullOrEmpty(space.Href) ? space.Href
                    : string.Format("{0}/venture-support/{1}/{2}{3}", cultureUri, space.Type, space.ModuleURLId, urlRewriteExtension);

                var imageUrl = space.Image != null ? space.Image.VirtualPath : "/images/small_model.jpg";

                <div class="col-md-4 col-sm-4 highlight">
                    <div class="service-box">
                        <a href="@href" class="information-box">
                            <img class="img-responsive" src="@imageUrl" />

                        </a>
                        <div class="service-information-caption space-section">
                            <h3 class="customer-h3">
                                @space.SubTitle
                            </h3>
                            <span class="customer-content-sm">
                                @space.Description

                            </span>
                        </div>

                    </div>
                </div>
                
            }

            
        </div> <!-- /row  -->
        <script>

            //找出所有div最高的那个高度
            var higestCaption = 0;
            $(".space-section").each(function () {

                var sectionHight = $(this).height();
                if (higestCaption < sectionHight) {
                    higestCaption = sectionHight;
                }
            });
            //将所有的div高度赋值为最高高度
            $(".space-section").each(function () {
                var padding = 20;
                $(this).css({ 'height': higestCaption + padding });


            });

        </script>

    </div>
</section>
<script>

    $(function () {
        ServiceHover();
    })

    function ServiceHover() {
        $(".service-item").bind('mouseenter', function () {
            $(this).find(".fa-stack").addClass("service-item-span-lg");
            $(this).find(".fa-stack").find(".fa-inverse").addClass("animated flip");

            var current = $(this);
            //删除出选中div外的其它div的特效
            $(".service-item").each(function () {
                if (current.html() != $(this).html()) {
                    $(this).find(".fa-stack").removeClass("service-item-span-lg");
                    $(this).find(".fa-stack").find(".fa-inverse").removeClass("animated flip");

                }
            });

        });

        $(".service-item").bind('mouseleave', function () {

        });

    }

</script>